RETOUCH_WORKER_TOKEN=change-this-long-random-token
RETOUCH_MAX_PHOTOS=30
RETOUCH_MAX_EDGE=2400
RETOUCH_JPEG_QUALITY=94
RETOUCH_ENABLE_GFPGAN=false
RETOUCH_GFPGAN_MODEL=/models/GFPGANv1.3.pth
RETOUCH_ENABLE_REALESRGAN=false
RETOUCH_REALESRGAN_MODEL=/models/RealESRGAN_x4plus.pth
